<h2>Info zur aktuell verbundenen Docker Version</h2>
<div fxLayoutAlign="start">
    <table>
    <tr>
    <th>Version</th>
    <th>Api-Version</th>
    <th>MinAPI</th>
    <th>Betriebssystem</th>
    <th>Kernel</th>
    <th>Build</th>
    </tr>
    <tr>
    <td>{{version.Version}}</td>
    <td>{{version.ApiVersion}}</td>
    <td>{{version.MinAPIVersion}}</td>
    <td>{{version.Os}}({{version.Arch}}</td>
    <td>{{version.KernelVersion}}</td>
    <td>{{version.BuildTime}}</td>
  </tr>
  </table>
</div>