
<md-sidenav-container class="flex-container" fxLayout="column" fxFil>
  <md-sidenav mode="push" #sidenav class="tillet-sidenav flex-item" fxLayout="column">
    <div>Main Sidenav</div>
  </md-sidenav>

<div class="flex-item" fxLayout="column" fxLayoutAlign="start stretch">
 <md-toolbar color="primary">

  <div class="tillet-sidenav-content">

    <button class="tillet-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons tillet-toolbar-menu">menu</i>
    </button>

    <div class="content">
      <show-info></show-info>
    </div>
  </div>

 </md-toolbar>
</div>
</md-sidenav-container>