<md-sidenav-container class="main-container">
  <md-sidenav mode="push" #sidenav class="menu-sidenav">
    <img src="favicon.ico"><br>
    <h4>{{name}}</h4>
    <sidenav-menue></sidenav-menue>
</md-sidenav>

  <md-toolbar color="primary">
  <div class="sidenav-content">
    <button class="menu-button" (click)="sidenav.open()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
  </div>
  </md-toolbar>
  <start-content class="main-content"></start-content>
</md-sidenav-container>
<div class="footer">{{name}}</div>