<md-sidenav-container class="app-content">

  <md-sidenav mode="push" #sidenav class="app-sidenav">
    <sidenav-menue></sidenav-menue>
</md-sidenav>

  <md-toolbar color="primary">
    <button *ngIf="testConnected() == true" class="icon-button" (click)="sidenav.open()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
  </md-toolbar>

  <div class="app-content">
    <div><start-content *ngIf="testConnected() == false"></start-content></div>
    <div><show-info *ngIf="testConnected() == true"></show-info></div>
  </div>
  
</md-sidenav-container>