.example-container {
  width: 100%;
  height: 850px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  background: #ffffff;
  display: block;
}

.example-sidenav {
  padding: 70px;
  background: #FFFFFF
}

.content {
    padding-left: 10px;
}

.button {
    background-color: #FFFFFF; /* Green */
    top: 10px;
    left:10px;
    text-align: center
}

.tillet-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
