
.main-container {
  width: 100%;
  height: 800px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.menu-sidenav {
  padding: 20px;
  width: 150px;
}

.menu-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.info {
  text-align: center;
  margin-top: 10px;
}

.footer {
  text-align: center;
  margin-top: 15px;
}

.menue-head {
  padding: 5px;
}