.icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-sidenav {
  padding-left: 25px;
  padding-top: 30px;
  width: 200px;
  height: 100%;
}

.main-content {
  height: 900px;
  width: 100%;
}
